---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import PostNavigation from "@components/PostNavigation.astro";
import TableOfContents from "@components/TableOfContents.astro";
import ShareLinks from "@components/ShareLinks.astro";

export async function getStaticPaths() {
	const posts = (await getCollection("blog"))
		.filter((post) => !post.data.draft)
		.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const posts = (await getCollection("blog"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function getNextPost() {
	let postIndex;
	for (const post of posts) {
		if (post.slug === Astro.params.slug) {
			postIndex = posts.indexOf(post);
			return posts[postIndex + 1];
		}
	}
}

function getPrevPost() {
	let postIndex;
	for (const post of posts) {
		if (post.slug === Astro.params.slug) {
			postIndex = posts.indexOf(post);
			return posts[postIndex - 1];
		}
	}
}

const nextPost = getNextPost();
const prevPost = getPrevPost();

const post = Astro.props;
const { Content, headings } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
	<Container>
		<div>
			<BackToPrevious href="/blog">Back to blog</BackToPrevious>
		</div>
		<div class="my-6 space-y-1">
			<div class="flex justify-between gap-y-4">
				<div
					class="flex flex-col md:flex-row gap-1 md:gap-1.5 text-sm md:text-base"
				>
					<div class="font-medium">
						<FormattedDate date={post.data.date} />
					</div>
					<span class="hidden md:block">/</span>
					<div>
						{readingTime(post.body)}
					</div>
				</div>
				<ShareLinks slug={post.slug} title={post.data.title} />
			</div>
			<h1
				class="text-3xl md:text-4xl heading text-black dark:text-white pt-4"
			>
				{post.data.title}
			</h1>
			<h2
				class="text-lg font-medium text-neutral-600 dark:text-neutral-400"
			>
				{post.data.description}
			</h2>
		</div>
		{headings.length > 0 && <TableOfContents headings={headings} />}
		<article>
			<Content />
			<div class="mt-24">
				<PostNavigation prevPost={prevPost} nextPost={nextPost} />
			</div>
		</article>
	</Container>
</Layout>
