---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

type Props = {
	entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props as {
	entry: CollectionEntry<"blog">;
};
---

<a
	href={`/${entry.collection}/${entry.slug}`}
	class="not-prose dark:bg-headerDark group relative flex flex-nowrap rounded-xl border border-borderColor bg-white px-4 py-3 pr-10 transition duration-300 ease-in-out hover:-translate-y-1 hover:shadow-lg dark:shadow-black dark:border-borderColorDark"
>
	<div class="flex flex-1 flex-col truncate">
		<div class="font-semibold text-black dark:text-white">
			{entry.data.title}
			<span
				class="text-base font-medium text-neutral-500 dark:text-neutral-400"
			></span>
		</div>
		<div class="text-neutral-500">
			{entry.data.description}
		</div>
		<div class="text-sm mt-2 text-neutral-500">
			<FormattedDate date={entry.data.date} />
		</div>
	</div>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 24 24"
		class="absolute right-2 top-1/2 size-5 -translate-y-1/2 fill-none stroke-current stroke-2"
	>
		<line
			x1="5"
			y1="12"
			x2="19"
			y2="12"
			class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100 group-focus-visible:translate-x-0 group-focus-visible:scale-x-100"
		></line>
		<polyline
			points="12 5 19 12 12 19"
			class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0"
		></polyline>
	</svg>
</a>
