---
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/og.png" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:site_name" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<link rel="preload" as="font" type="font/woff2" href="/fonts/american-grotesk/american-grotesk-regular.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="/fonts/american-grotesk/american-grotesk-bold.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="/fonts/suisse/SuisseIntl-Regular.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="/fonts/suisse/SuisseIntl-SemiBold.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="/fonts/suisse/SuisseIntl-Medium.woff2" crossorigin="anonymous" />


<!-- RSS Feed -->
<link
	rel="alternate"
	type="application/rss+xml"
	title={title}
	href={`${Astro.site}rss.xml`}
/>

<!-- Schema.org -->
<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "WebSite",
		"name": "Priyanshu Sinha",
		"url": "https://priyanshusinha.in/",
		"image": "https://priyanshusinha.in/photo.jpg"
	}
</script>

<!-- Vercel Analytics -->
<Analytics />

<script is:inline>
	function init() {
		preloadTheme();
		onScroll();
		addCopyCodeButtons();

		const backToTop = document.getElementById("back-to-top");
		backToTop?.addEventListener("click", (event) => scrollToTop(event));

		const backToPrev = document.getElementById("back-to-prev");
		backToPrev?.addEventListener("click", () => window.history.back());

		document.addEventListener("scroll", onScroll);
	}

	function changeTheme() {
		const element = document.documentElement;
		const theme = element.classList.contains("dark") ? "light" : "dark";

		const css = document.createElement("style");

		css.appendChild(
			document.createTextNode(
				`* {
           -webkit-transition: none !important;
           -moz-transition: none !important;
           -o-transition: none !important;
           -ms-transition: none !important;
           transition: none !important;
        }`,
			),
		);
		document.head.appendChild(css);

		if (theme === "dark") {
			element.classList.add("dark");
		} else {
			element.classList.remove("dark");
		}

		window.getComputedStyle(css).opacity;
		document.head.removeChild(css);
		localStorage.theme = theme;
	}

	function preloadTheme() {
		const theme = (() => {
			const userTheme = localStorage.theme;

			if (userTheme === "light" || userTheme === "dark") {
				return userTheme;
			} else {
				return window.matchMedia("(prefers-color-scheme: dark)").matches
					? "dark"
					: "light";
			}
		})();

		const element = document.documentElement;

		if (theme === "dark") {
			element.classList.add("dark");
		} else {
			element.classList.remove("dark");
		}

		localStorage.theme = theme;
	}

	window.onload = () => {
		function initializeThemeButtons() {
			const headerThemeButton = document.getElementById(
				"header-theme-button",
			);
			const drawerThemeButton = document.getElementById(
				"drawer-theme-button",
			);
			headerThemeButton?.addEventListener("click", changeTheme);
			drawerThemeButton?.addEventListener("click", changeTheme);
		}

		document.addEventListener("astro:after-swap", initializeThemeButtons);
		initializeThemeButtons();
	};

	function onScroll() {
		if (window.scrollY > 0) {
			document.documentElement.classList.add("scrolled");
		} else {
			document.documentElement.classList.remove("scrolled");
		}
	}

	function scrollToTop(event) {
		event.preventDefault();
		window.scrollTo({
			top: 0,
			behavior: "smooth",
		});
	}

	function addCopyCodeButtons() {
		let copyButtonLabel = "copy";
		let codeBlocks = Array.from(document.querySelectorAll("pre"));

		async function copyCode(codeBlock, copyButton) {
			const codeText = codeBlock.innerText;
			const buttonText = copyButton.innerText;
			const textToCopy = codeText.replace(buttonText, "");

			await navigator.clipboard.writeText(textToCopy);
			copyButton.innerText = "copied";

			setTimeout(() => {
				copyButton.innerText = copyButtonLabel;
			}, 2000);
		}

		for (let codeBlock of codeBlocks) {
			const wrapper = document.createElement("div");
			wrapper.style.position = "relative";

			const copyButton = document.createElement("button");
			copyButton.innerText = copyButtonLabel;
			copyButton.classList = "copy-code";

			codeBlock.setAttribute("tabindex", "0");
			codeBlock.appendChild(copyButton);

			codeBlock.parentNode.insertBefore(wrapper, codeBlock);
			wrapper.appendChild(codeBlock);

			copyButton?.addEventListener("click", async () => {
				await copyCode(codeBlock, copyButton);
			});
		}
	}

	document.addEventListener("DOMContentLoaded", () => init());
	document.addEventListener("astro:after-swap", () => init());
	preloadTheme();
</script>

<script>
	import type { TransitionBeforeSwapEvent } from "astro:transitions/client";
	document.addEventListener("astro:before-swap", (e) =>
		[
			...(
				e as TransitionBeforeSwapEvent
			).newDocument.head.querySelectorAll('link[as="font"]'),
		].forEach((link) => link.remove()),
	);
</script>
