doctype html
html(lang="en" class="scroll-smooth")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="generator" content=eleventy.generator)

        title= title || metadata.title
        meta(name="title" content=title || metadata.title)
        meta(name="description" content=description || metadata.description)

        link(rel="icon" type="image/x-icon" href="/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")

        meta(property="og:type" content="website")
        meta(property="og:url" content=metadata.url)
        meta(property="og:title" content=title || metadata.title)
        meta(property="og:site_name" content=metadata.title)
        meta(property="og:description" content=description || metadata.description)
        meta(property="og:image" content=preview || metadata.preview)

        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:url" content=metadata.url)
        meta(property="twitter:title" content=title || metadata.title)
        meta(property="twitter:description" content=description || metadata.description)
        meta(property="twitter:image" content=preview || metadata.preview)

        link(rel="canonical" href=slug ? `${metadata.url}p/${slug}` : metadata.url)
        
        link(rel="alternate" href=metadata.feed.path type="application/atom+xml" title=metadata.title)
        link(rel="alternate" href=metadata.jsonfeed.path type="application/json" title=metadata.title)

        link(rel="sitemap" href=`${metadata.url}sitemap.xml`)

        link(rel="stylesheet" href="/app.css")
        
        link(rel="preload" as="font" type="font/woff2" href="/fonts/suisse/SuisseIntl-Regular.woff2" crossorigin="anonymous")
        link(rel="preload" as="font" type="font/woff2" href="/fonts/tiempos/test-tiempos-text-medium.woff2" crossorigin="anonymous")
        link(rel="preload" as="font" type="font/woff2" href="/fonts/suisse/SuisseIntl-SemiBold.woff2" crossorigin="anonymous")

        script(type='application/ld+json').
            {"@context": "https://schema.org/","@type": "WebSite","name": "Priyanshu Sinha","url": "https://priyanshusinha.in/","image": "https://priyanshusinha.in/photo.jpg"}

    body(class="antialiased")
        | !{ content }
        script(src="https://unpkg.com/swup@4")
        script.
            const swup = new Swup();
